mat-horizontal-stepper {
  background: transparent;
}
.mat-card {
  min-width: 120px;
  margin: 36px auto;
  max-width: 800px;
}
mat-progress-bar {
  margin: 36px 16px 16px 16px;
  max-width: 650px;
}
.verification-content {
  padding: 36px;
}
.verification p {
  text-align: center;
  font-size: 18px;
}
.verification mat-icon {
  width: 100px;
  height: 100px;
  font-size: 100px;
  padding: 12px;
  margin: 36px;
  color: white;
  border-radius: 50%;
}
.verifiedIcon {
  background-color: #2E7D32;
}
.notVerifiedIcon {
  background-color: #C62828;
}
.verification div {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}
