<mat-horizontal-stepper #stepper>

  <!-- Step one - collect information about the client -->
  <mat-step label="Client Information">
    <form [formGroup]="profileForm" novalidate (ngSubmit)="searchClients()">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Profile</mat-card-title>
          <mat-card-subtitle>Search for the client below</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxLayout="column">

          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="10px"
            fxLayoutAlign="start stretch">

            <!-- FirstName -->
            <mat-form-field fxFlex>
              <input matInput placeholder="First name" formControlName="FirstName">
              <mat-error *ngIf="profileForm.controls['FirstName'].hasError('required')">
                First name is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <!-- LastName -->
            <mat-form-field fxFlex>
              <input matInput placeholder="Last name" formControlName="LastName">
              <mat-error *ngIf="profileForm.controls['LastName'].hasError('required')">
                Last name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <!-- SSN -->
          <mat-form-field fxFlex>
            <input matInput placeholder="SSN" formControlName="SSN" (keyup)="formatSSN($event)"
              (keydown)="formatSSN($event)">
            <mat-error *ngIf="profileForm.controls['SSN'].hasError('required')">
              SSN is <strong> required</strong>
            </mat-error>
          </mat-form-field>

          <!-- DOB -->
          <mat-form-field fxFlex>
            <mat-label>Birth Date</mat-label>
            <input matInput type="date" placeholder="Birth Date" formControlName="DOB">
            <mat-error *ngIf="profileForm.controls['DOB'].hasError('required')">
              DOB is <strong> required</strong>
            </mat-error>
          </mat-form-field>

          <!-- Gender -->
          <mat-form-field fxFlex>
            <mat-label>Gender</mat-label>
            <mat-select formControlName="Gender">
              <mat-option *ngFor="let gender of genders" [value]="gender.value">
                {{gender.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="profileForm.controls['Gender'].hasError('required')">
              Gender is <strong> required </strong>
            </mat-error>
          </mat-form-field>

        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center center">
          <button mat-button color="accent" type="submit" matStepperNext>
            <mat-icon>search</mat-icon>
            Search
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-step>

  <!-- Step two - hit Data Analysis API to find client -->
  <mat-step label="Verify Homelessness">
    <mat-card>
      <mat-card-content class="verification-content" fxLayout="column" fxLayoutAlign="center center">
        <ng-container *ngIf="loading; else verification;">
          <div class="mat-title">Checking to see if this client is in the homeless system. Please stay tuned!</div>
          <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        </ng-container>
        <ng-template #verification>
          <div class="verification" fxLayoutAlign="center center">
            <ng-container *ngIf="verifiedHomeless; else notVerified">
              <mat-icon class="verifiedIcon">done</mat-icon>
              <p>Verified! Moving to the next step ...</p>
            </ng-container>
            <ng-template #notVerified>
              <mat-icon class="notVerifiedIcon">clear</mat-icon>
              <p>No results! Try the search again ...</p>
            </ng-template>
          </div>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </mat-step>

  <!-- Step three - use DIT API to import the client in Clarity -->
  <mat-step label="Record Test Result">
    <form [formGroup]="profileForm" novalidate (ngSubmit)="uploadClient()">
      <mat-card>
        <mat-card-header>
          <mat-card-title>COVID Test Result</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column">

          <!-- Custom COVID question: c_covid_19_test_result -->
          <mat-form-field fxFlex>
            <mat-label>Result</mat-label>
            <mat-select formControlName="c_covid_19_test_result">
              <mat-option *ngFor="let status of covidStatuses" [value]="status.value">
                {{status.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center center">
          <button mat-button color="accent" type="submit" matStepperNext>
            <mat-icon fontSet="material-icons-outlined">cloud_upload</mat-icon>
            Upload to Clarity Human Services
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-step>

</mat-horizontal-stepper>
